{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Editar Espaço de Coworking</title>

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'reservas/styles.css' %}">
    <link href="{% static 'css/styleDna.css' %}" rel="stylesheet">

    <style>
        /* Estilo minimalista para as abas */
        .nav-tabs .nav-link {
            border: none;
            background-color: transparent;
            color: #007bff;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
            text-align: center;
        }

        .nav-tabs .nav-link:hover {
            background-color: #f1f1f1;
        }

        .nav-tabs .nav-link.active {
            border-bottom: 2px solid #007bff;
            background-color: transparent;
            color: #007bff;
        }

        .tab-content {
            padding: 20px;
            border: 1px solid #ddd;
            border-top: none;
            background-color: #fff;
        }
    </style>
</head>

<body>

    <main class="main mt-6">

        <div class="container" data-aos="fade-up">

            <header id="header" class="header d-flex align-items-center ">
                <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
                    <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
                        <h1 class="sitename">Coworking Space</h1>
                    </a>
                </div>
            </header>

            <div class="row justify-content-center">    
                <div class="col-lg-8">
                    <h2>Editar Espaço de Coworking: {{ form.instance.nome }}</h2>

                    <!-- Abas de navegação minimalistas -->
                    <ul class=" nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <span class="nav-item" role="presentation">
                            <a class="nav-link active" id="dados-cadastrais-tab" data-bs-toggle="tab" href="#dados-cadastrais" role="tab" aria-controls="dados-cadastrais" aria-selected="true">Dados Cadastrais</a>
                        </span>
                        <span class="nav-item" role="presentation">
                            <a class="nav-link" id="endereco-tab" data-bs-toggle="tab" href="#endereco" role="tab" aria-controls="endereco" aria-selected="false">Endereço</a>
                        </span>
                        <span class="nav-item" role="presentation">
                            <a class="nav-link" id="redes-sociais-tab" data-bs-toggle="tab" href="#redes-sociais" role="tab" aria-controls="redes-sociais" aria-selected="false">Redes Sociais</a>
                        </span>
                        <span class="nav-item" role="presentation">
                            <a class="nav-link" id="comodidades-tab" data-bs-toggle="tab" href="#comodidades" role="tab" aria-controls="comodidades" aria-selected="false">Comodidades</a>
                        </span>
                    </ul>

                    <!-- Conteúdo das abas -->
                    <div class="tab-content" id="myTabContent">

                        <!-- Aba 1: Dados Cadastrais -->
                        <div class="tab-pane fade show active" id="dados-cadastrais" role="tabpanel" aria-labelledby="dados-cadastrais-tab">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_nome" class="form-label">Nome</label>
                                    <input type="text" name="nome" class="form-control w-50" id="id_nome" value="{{ form.instance.nome|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_frase_destaque" class="form-label">Frase de Destaque</label>
                                    <input type="text" name="frase_destaque" class="form-control w-100" id="id_frase_destaque" value="{{ form.instance.frase_destaque|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_descricao" class="form-label">Descrição</label>
                                    <textarea name="descricao" class="form-control w-100" id="id_descricao" style="height: 300px;">{{ form.instance.descricao|default:'' }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="id_capacidade" class="form-label">Capacidade</label>
                                    <input type="number" name="capacidade" class="form-control w-50" id="id_capacidade" value="{{ form.instance.capacidade|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_preco_por_hora" class="form-label">Preço por Hora</label>
                                    <input type="text" name="preco_por_hora" class="form-control w-50" id="id_preco_por_hora" value="{{ form.instance.preco_por_hora|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_imagens" class="form-label">Imagens Existentes</label>
                                    <div class="row">
                                        {% for imagem in form.instance.imagens.all %}
                                        <div class="col-md-3 mb-3">
                                            <div class="card">
                                                <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="Imagem do Espaço" style="height: 150px; object-fit: cover;">
                                                <div class="card-body text-center">
                                                    <button type="button" class="btn btn-danger btn-sm delete-image-btn" data-image-id="{{ imagem.id }}">Excluir</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="id_imagens" class="form-label">Imagens</label>
                                    <input type="file" name="imagens" class="form-control w-50" id="id_imagens" multiple>
                                </div>
                            
                        </div>

                        <!-- Aba 2: Endereço -->
                        <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="id_endereco" class="form-label">Endereço</label>
                                    <input type="text" name="endereco" class="form-control w-50" id="id_endereco" value="{{ form.instance.endereco|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_cep" class="form-label">CEP</label>
                                    <input type="text" name="cep" class="form-control w-50" id="id_cep" value="{{ form.instance.cep|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_latitude" class="form-label">Latitude</label>
                                    <input type="text" name="latitude" class="form-control w-50" id="id_latitude" value="{{ form.instance.latitude|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_longitude" class="form-label">Longitude</label>
                                    <input type="text" name="longitude" class="form-control w-50" id="id_longitude" value="{{ form.instance.longitude|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <input id="search-box" type="text" placeholder="Digite o nome do lugar">
                                    <div id="map"></div>
                                </div>
                            
                        </div>

                        <!-- Aba 3: Redes Sociais -->
                        <div class="tab-pane fade" id="redes-sociais" role="tabpanel" aria-labelledby="redes-sociais-tab">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="id_instagram" class="form-label">Instagram</label>
                                    <input type="url" name="instagram" class="form-control w-50" id="id_instagram" value="{{ form.instance.instagram|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_facebook" class="form-label">Facebook</label>
                                    <input type="url" name="facebook" class="form-control w-50" id="id_facebook" value="{{ form.instance.facebook|default:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_linkedin" class="form-label">LinkedIn</label>
                                    <input type="url" name="linkedin" class="form-control w-50" id="id_linkedin" value="{{ form.instance.linkedin|default:'' }}">
                                </div>
                           
                        </div>

                        <!-- Aba 4: Comodidades -->
                        <div class="tab-pane fade" id="comodidades" role="tabpanel" aria-labelledby="comodidades-tab">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="id_wifi" class="form-label">Wi-Fi</label>
                                    <input type="checkbox" name="wifi" id="id_wifi" {% if form.instance.wifi %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_acessibilidade" class="form-label">Acessibilidade</label>
                                    <input type="checkbox" name="acessibilidade" id="id_acessibilidade" {% if form.instance.acessibilidade %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_acesso24h" class="form-label">Acesso 24h</label>
                                    <input type="checkbox" name="acesso24h" id="id_acesso24h" {% if form.instance.acesso24h %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_playground_kids" class="form-label">Playground Kids</label>
                                    <input type="checkbox" name="playground_kids" id="id_playground_kids" {% if form.instance.playground_kids %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_ar_condicionado" class="form-label">Ar Condicionado</label>
                                    <input type="checkbox" name="ar_condicionado" id="id_ar_condicionado" {% if form.instance.ar_condicionado %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_area_alimentacao" class="form-label">Área de Alimentação</label>
                                    <input type="checkbox" name="area_alimentacao" id="id_area_alimentacao" {% if form.instance.area_alimentacao %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_biblioteca" class="form-label">Biblioteca</label>
                                    <input type="checkbox" name="biblioteca" id="id_biblioteca" {% if form.instance.biblioteca %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_cabine_call" class="form-label">Cabine Call</label>
                                    <input type="checkbox" name="cabine_call" id="id_cabine_call" {% if form.instance.cabine_call %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_cozinha" class="form-label">Cozinha</label>
                                    <input type="checkbox" name="cozinha" id="id_cozinha" {% if form.instance.cozinha %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_espaco_pet" class="form-label">Espaço Pet</label>
                                    <input type="checkbox" name="espaco_pet" id="id_espaco_pet" {% if form.instance.espaco_pet %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_espaco_convivencia" class="form-label">Espaço de Convivência</label>
                                    <input type="checkbox" name="espaco_convivencia" id="id_espaco_convivencia" {% if form.instance.espaco_convivencia %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_lounge" class="form-label">Lounge</label>
                                    <input type="checkbox" name="lounge" id="id_lounge" {% if form.instance.lounge %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_galeria_arte" class="form-label">Galeria de Arte</label>
                                    <input type="checkbox" name="galeria_arte" id="id_galeria_arte" {% if form.instance.galeria_arte %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_geladeira" class="form-label">Geladeira</label>
                                    <input type="checkbox" name="geladeira" id="id_geladeira" {% if form.instance.geladeira %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_gerador_eletricidade" class="form-label">Gerador de Eletricidade</label>
                                    <input type="checkbox" name="gerador_eletricidade" id="id_gerador_eletricidade" {% if form.instance.gerador_eletricidade %}checked{% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="id_refrigerador" class="form-label">Refrigerador</label>
                                    <input type="checkbox" name="refrigerador" id="id_refrigerador" {% if form.instance.refrigerador %}checked{% endif %}>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                            </form>
                        </div>

                    </div>

                    
                </div>
            </div>
        </div>

    </main>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <script>
        document.getElementById('id_preco_por_hora').addEventListener('input', function (e) {
            this.value = this.value.replace(',', '.');
        });

        document.getElementById('id_latitude').addEventListener('input', function (e) {
            this.value = this.value.replace(',', '.');
        });

        document.getElementById('id_longitude').addEventListener('input', function (e) {
            this.value = this.value.replace(',', '.');
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKJeB-GheZ0ccCaj9xh6CTssXsbZU3uPI&libraries=places&callback=initMap" async defer></script>
    <script>
        let map;
        let marker;
        let autocomplete;

        function initMap() {
            const latI = parseFloat(document.getElementById('id_latitude').value.replace(',', '.'));
            const longI = parseFloat(document.getElementById('id_longitude').value.replace(',', '.'));
            const initialCoords = { lat: latI, lng: longI };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: initialCoords
            });

            marker = new google.maps.Marker({
                position: initialCoords,
                map: map
            });

            const input = document.getElementById('search-box');
            autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                const place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }
                map.setCenter(place.geometry.location);
                map.setZoom(15);
                marker.setPosition(place.geometry.location);
                document.getElementById('id_latitude').value = place.geometry.location.lat();
                document.getElementById('id_longitude').value = place.geometry.location.lng();
            });

            map.addListener('click', function(event) {
                const clickedLat = event.latLng.lat();
                const clickedLng = event.latLng.lng();
                marker.setPosition(event.latLng);
                document.getElementById('id_latitude').value = clickedLat;
                document.getElementById('id_longitude').value = clickedLng;
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-image-btn');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const imageId = this.getAttribute('data-image-id');
                    if (confirm('Tem certeza que deseja excluir esta imagem?')) {
                        fetch(`/excluir-imagem/${imageId}/`, {
                            method: 'POST',
                            headers: { 'X-CSRFToken': '{{ csrf_token }}' }
                        }).then(response => {
                            if (response.ok) {
                                this.closest('.col-md-3').remove();
                            } else {
                                alert('Erro ao excluir a imagem.');
                            }
                        });
                    }
                });
            });
        });
    </script>

</body>

</html>