{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Gerenciar Espaços</title>
    <link rel="stylesheet" href="{% static 'reservas/styles.css' %}">

    <!-- Integração com o Crisp -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c47a6fe5-4949-4d1d-8805-76f8615765ce";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>

<body>
    <div class="container">
        <h2>Gerenciar Espaços de Coworking</h2>
        <ul>
            {% for espaco in espacos %}
            <li>{{ espaco.nome }} - {{ espaco.endereco }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'lista_espacos' %}">Voltar à lista de espaços</a>
    </div>
</body>

</html>