{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Espaços de Coworking</title>
    <!-- Inclua os estilos CSS principais -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
                <h1 class="sitename">Coworking Space</h1><span>.</span>
            </a>
        </div>
    </header>

    <style>
        .container-fluidEspacos {
            margin-top: 80px; /* Para compensar o header fixo */
        }
        .row {
            /* Removido display: flex para evitar conflitos com o mapa fixo */
            justify-content: space-between;
        }
        .coworking-list {
            width: 55%;
            margin-right: 20px; /* Adiciona margem à direita */
        }
        .map-container {
            width: 40%; /* Defina uma largura fixa se necessário */
            height: 540px; /* Altura desejada do mapa */
           /* position: fixed;  Fixa o mapa na tela */
            top: 80px;       /* Distância do topo (abaixo do header fixo) */
            right: 20px;     /* Distância da direita */
            z-index: 1000;   /* Para garantir que fique acima de outros elementos */
        }
        .pagination {
            justify-content: center; /* Centraliza a paginação */
        }
    </style>

    <section class="section">
        <div class="container-fluidEspacos">

            <div class="section-title">
                <h2>Espaços de Coworking Disponíveis</h2>
            </div>

            <div class="row">
                <!-- Div para coworkings -->
                <div class="coworking-list">
                    <center>
                        <h3>Filtro de Busca</h3>
                        <input type="text" id="searchInput" placeholder="Digite para buscar..." class="form-control mb-3">
                    </center>

                    <div class="row gy-4" id="listaEspacos">
                        {% for espaco in page_obj %}

                        <div class="col-lg-4 col-md-6">
                            <div class="card h-100 shadow-sm">
                                <!-- Carrossel de Imagens -->
                                <div id="carouselEspaco{{ espaco.id }}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for imagem in espaco.imagens.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ imagem.imagem.url }}" class="d-block w-100" alt="Imagem do Espaço" style="height: 220px; object-fit: cover;">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Controles do Carrossel -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEspaco{{ espaco.id }}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselEspaco{{ espaco.id }}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Próximo</span>
                                    </button>
                                </div>
                        
                                <!-- Informações do Espaço -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ espaco.nome }}</h5>
                                    <p class="card-text">{{ espaco.frase_destaque }}</p>
                                    <hr>
                                    <p class="description">Capacidade: {{ espaco.capacidade }} pessoas</p>
                                    <p class="description">Internet: {{ espaco.velocidade_internet }}mbps</p>
                                    <p class="description">Preço: R${{ espaco.preco_por_hora }}/h</p>
                                    <a href="{% url 'detalhe_espaco' espaco.id %}" class="btn btn-primary">Ver Detalhes</a>
                                </div>
                            </div>
                        </div>



                        {% empty %}
                        <p>Não há espaços de coworking disponíveis no momento.</p>
                        {% endfor %}
                    </div>

                    <!-- Adiciona os botões de paginação -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}"> 
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próximo">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                     
                </div>

                <!-- Div para o mapa -->
                
                <div id="map" class="map-container"></div>

                <!-- Div para o mapa -->
                <div id="map" class="map-container"></div>
            </div>

        </div>
    </section>

    <!-- Scripts para Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKJeB-GheZ0ccCaj9xh6CTssXsbZU3uPI&callback=initMap" async defer></script>

    <script>
        // JavaScript para filtrar a lista
        document.getElementById('searchInput').addEventListener('keyup', function() {
            const filter = this.value.toLowerCase();
            const items = document.querySelectorAll('#listaEspacos div');
    
            items.forEach(function(item) {
                const text = item.textContent.toLowerCase();
                if (text.includes(filter)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    
        // Função que inicializa o mapa
        function initMap() {
            var espacos = JSON.parse('{{ espacosJ|escapejs }}');
            var listaEnderecos = [];
    
            espacos.forEach(function(espaco) {
                listaEnderecos.push({
                    lat: parseFloat(espaco.fields.latitude),
                    lng: parseFloat(espaco.fields.longitude),
                    title: espaco.fields.nome
                });
            });
    
            // Define um fallback caso a localização do usuário não esteja disponível
            var defaultLocation = listaEnderecos.length > 0 ? listaEnderecos[0] : { lat: -22.9068, lng: -43.1729 }; // Exemplo: Rio de Janeiro
    
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: defaultLocation
            });
    
            // Obtém a localização do usuário e ajusta o centro do mapa
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        var userLocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        map.setCenter(userLocation); // Centraliza no usuário
    
                        // Adiciona um marcador para a localização do usuário
                        new google.maps.Marker({
                            position: userLocation,
                            map: map,
                            title: "Sua localização"
                        });
                    },
                    function() {
                        console.log("Usuário não permitiu acesso à localização ou ocorreu um erro.");
                    }
                );
            } else {
                console.log("Geolocalização não é suportada pelo navegador.");
            }
    
            // Plota os coworkings no mapa
            listaEnderecos.forEach(function(location) {
                new google.maps.Marker({
                    position: location,
                    map: map,
                    title: location.title
                });
            });
        }
    </script>
    

    <!-- Scripts principais -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
