{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Minhas Reservas</title>
    
     <!-- Inclua os estilos CSS principais -->
     <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
     <link href="{% static 'css/main.css' %}" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{% static 'reservas/styles.css' %}">

    <!-- Integração com o Crisp -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c47a6fe5-4949-4d1d-8805-76f8615765ce";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <style>
         body {
            padding-top: 60px; /* Ajuste esse valor conforme a altura da sua barra de navegação */
        }
    </style>

</head>

<body>
     <!-- Header -->
     <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Coworking Space</h1><span>.</span>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'index' %}" >Início</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'lista_espacos' %}">Reservar</a></li>
                        <li><a href="{% url 'listar_reservas' %}" class="active">Minhas reservas</a></li>
                        <li><a href="{% url 'administrar_espacos' %}">Administrar coworkings</a></li>
                    {% endif %}
                    <!--<li><a href="#spaces">Espaços</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="#pricing">Preços</a></li>
                    <li><a href="#contact">Contato</a></li>-->

                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <div>
                {% if user.is_authenticated %}
                    <!-- Usuário está autenticado -->
                     
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-getstarted">Logout</button>
                        
                    </form>
                    
                    
                    
                {% else %}    
                    <!-- Usuário não está autenticado -->
                    <a class="btn-getstarted" href="{% url 'register' %}">Login / Registre-se</a>
                {% endif %}    
                    
            </div>


        </div>
    </header>
    <style>
        .custom-container {
            max-width: 85%; /* Defina a porcentagem ou um valor fixo */
        }
    </style>
    <main class="container custom-container mt-5">
        <div class="">
            <h2 class="mb-4">Minhas Reservas</h2>

            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Espaço</th>
                        <th>Data</th>
                        <th>Hora Início</th>
                        <th>Hora Fim</th>
                        <th>Recurso</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.espaco.nome }}</td>
                        <td>{{ reserva.data_reserva }}</td>
                        <td>{{ reserva.hora_inicio }}</td>
                        <td>{{ reserva.hora_fim }}</td>
                        <td>{{ reserva.recurso.nome_recurso }}</td>
                        <td>
                            <a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'excluir_reserva' reserva.id %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <a href="{% url 'lista_espacos' %}" class="btn btn-secondary mt-4">Voltar</a>
    </main>

    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
